<%- include('../partials/header') %>
<style>
  .content-main-login li {
    color: red;
    margin-bottom: 15px;
  }
  .message {
    color: white;
    margin-bottom: 15px;
  }
  
  .forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .forgot-password a {
    color: white;
  }
  @media (max-width: 980px) {
    .forgot-password {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
<div class="main-login">
  <div class="content-main-login">
    <h1>Área do Candidato</h1>

      <div>
        <% if (message) { %>
          <p class="message"><%= message %></p>
        <% } %>

        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    <form action="/auth/login_candidato" method="POST">
      <input type="email" name="email" placeholder="E-mail" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>
    <div class="forgot-password">
      <a href="/auth/forgot-password-candidato">Esqueci minha senha</a>
      <a href="/auth/register_candidato">Criar Conta</a>
    </div>
  </div>
</div>


<%- include('../partials/footer') %>
