<section id="footer">
    <div class="content-footer">
        <div class="coluna-logo-footer">
            <img class="logo-footer" src="/img/logo-footer.png">
            <div class="redes-sociais-footer">
                <img src="/img/fbfooter.png">
                <img src="/img/instagramfooter.png">
                <img src="/img/twitterfooter.png">
            </div>            
        </div>
        <div class="colunas-info-footer">
            <div class="paginas-footer">
                <a href="">Início</a>
                <a href="">Sobre</a>
                <a href="">Área do Candidato</a>
                <a href="">Área da Empresa</a>
            </div>
            <div class="contato-footer">
                <p><strong>Contato</strong></p>
                <p>123 Example Road New York, NY 12345</p>
                <p>contato@anunciodevagas.com</p>
                <p>(21) 90000-0000</p>
            </div>
        </div>
    </div>
</section>
<script src="/js/menu.js"></script>
<script src="/js/filtrohome.js"></script>
</body>
</html>
