<section id="footer">
    <div class="content-footer">
        <div class="coluna-logo-footer">
            <img class="logo-footer" src="/img/logo-footer.png">
            <div class="redes-sociais-footer">
                <a href="https://www.facebook.com/AN.anunciodevagas"><img src="/img/fbfooter.png"></a>
                <a href="https://www.instagram.com/anuncio.de.vagas/"><img src="/img/instagramfooter.png"></a>                
                <img src="/img/twitterfooter.png">
            </div>            
        </div>
        <div class="colunas-info-footer">
            <div class="paginas-footer">
                <a href="">Início</a>
                <a href="/sobre">Sobre</a>
                <a href="/auth/login_candidato">Área do Candidato</a>
                <a href="/auth/login_empresa">Área da Empresa</a>
            </div>
            <div class="contato-footer">
                <p><strong>Contato</strong></p>
                <p>Rua Roberto Faria, 21, Fanny, Curitiba PR, 81030-150, Brasil</p>
                <p>vagas@anunciodevagas.com</p>
                <p>(41) 3542-3456</p>
            </div>
        </div>
    </div>
</section>
<script src="/js/menu.js"></script>
<script src="/js/filtrohome.js"></script>
</body>
</html>
