<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Sistema de Gerenciamento de Vagas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header class="navbar">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <a href="/"><img src="/img/logo-oficial.png" class="img-logo"></a>
      </div>
  
      <!-- Links do menu -->
      <nav class="nav-links">
        <div class="itens-menu">
          <div class="logo-desk">
            <a href="/"><img src="/img/logo-oficial.png" class="img-logo"></a>
          </div>
          <div class="links-menu">
            <a href="/vagas">Vagas</a>
            <a href="/#parceiros">Serviços</a>
            <a href="/#parceiros">Cursos</a>
            <a href="/#parceiros">Blog</a>
            <a href="/#sobre">Sobre</a>
          </div>
          <div class="botoes-menu">
            <a href="/auth/login_empresa" class="area-empresa-menu">Área da empresa</a>
            <a href="/auth/login_candidato" class="area-aluno-menu">Área do candidato</a>
          </div>
        </div>
          
        
      </nav>
  
      <!-- Botão sandwich para mobile -->
      <button class="menu-toggle" id="menu-toggle">
        &#9776; <!-- Ícone de menu (sandwich) -->
      </button>
    </div>
  </header>
  