<%- include('partials/header') %>

<div class="degrade-header">
  <div class="content-degrade-header">
    <div class="linha-branca"></div>
    <div class="degrade-breadcrumb">
      <div class="links-bread">
        <a href="">Início</a> <span>/</span> <a href="">Vagas</a>
      </div>
      <h1>Vagas</h1>
    </div>
  </div>
</div>
<%- include('partials/footer') %> 