<%- include('partials/header') %>
<style>
  .degrade-header {
    background: linear-gradient(to top right, #0d0b0a, #2c1b17, #5a1e12);
    height: 350px;
    width: 100%;
    border-radius: 0px 0px 77px 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-degrade-header {
    max-width: 1200px;
    padding: 180px 50px;
    width: 100%;
}
.linha-branca {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}
.degrade-breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.degrade-breadcrumb h1 {
    color: white;
    font-size: 47px;
    font-weight: 300;
}
.links-bread a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.links-bread span {
    color: #FF5E00;
}
</style>
<div class="degrade-header">
  <div class="content-degrade-header">
    <div class="linha-branca"></div>
    <div class="degrade-breadcrumb">
      <div class="links-bread">
        <a href="">Início</a> <span>/</span> <a href="">Sobre</a>
      </div>
      <h1>Sobre nós</h1>
    </div>
  </div>
</div>


<style>
  .content-numeros-home-valores {
    max-width: 1200px;
    margin: auto;
    padding: 80px 0px;
  }
.parceiro-dot-sobre {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 23px;
}
.numeros-sobre-col-2 p {
  color: #7D7D7D;
  font-size: 19px;
  font-weight: 200;
  max-width: 800px;
}
.div-separadora {
  height: 1px;
  width: 100%;
  background-color: #7D7D7D;
  margin-bottom: 70px;
}
@media (max-width: 900px) {
  .parceiro-dot-sobre {
    justify-content: center;
  }
  .numeros-sobre-col-2 p {
    text-align: center;
  }
}
</style>
<section id="numeros-sobre">
  <div class="content-numeros-home">
    <div class="numeros-home-1">
      <div class="parceiro-dot-sobre">
        <img src="/img/dot-orange.png">
        <p>QUEM SOMOS</p>
      </div>
    </div>
    <div class="numeros-home-2">
      <div class="numeros-home-col-1">
        <p class="trabalhe"><span>O que é a</span> anúncio de Vagas?</p>
      </div>
      <div class="numeros-sobre-col-2">
        <p>Somos uma plataforma criada para facilitar o encontro entre talentos e oportunidades. Nosso objetivo é tornar o processo de recrutamento mais rápido, acessível e eficiente, ajudando profissionais a conquistarem suas vagas ideais e empresas a encontrarem os melhores candidatos.
          <br>
          <br>
          Acreditamos que o trabalho certo pode transformar vidas, impulsionar carreiras e fortalecer negócios. Por isso, estamos aqui para simplificar essa conexão.</p>
      </div>
    </div>
 
  </div>

</section>

<style>
  #numeros-home {
    background: url(../img/bg-vagas.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0% 75%;
}
.content-numeros-home {
    max-width: 1200px;
    margin: auto;
    padding: 200px 0px;
}
.parceiro-dot {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}
@media (max-width: 900px) {
    #numeros-home {
        background: white;
    }
    .content-numeros-home {
        padding: 120px 10px;
    }
}

</style>


<section id="numeros-home">
  <div class="content-numeros-home">
    <div class="numeros-home-1">
      <div class="parceiro-dot">
        <img src="/img/dot-orange.png">
        <p>NÚMEROS</p>
      </div>
    </div>
    <div class="numeros-home-2">
      <div class="numeros-home-col-1">
        <p class="trabalhe"><span>Trabalhe com</span> os melhores do mercado!</p>
      </div>
      <div class="numeros-home-col-2">
        <div class="numero-com-info">
          <p>300+</p>
          <p><strong>Contratados</strong></p>
        </div>
        <div class="numero-com-info">
          <p>100M+</p>
          <p><strong>Vagas anunciadas</strong></p>
        </div>
        <div class="numero-com-info">
          <p>600+</p>
          <p><strong>Empresas</strong></p>
        </div>
      </div>
    </div>
    <div class="numeros-home-3">
      <img src="/img/pessoas.png" alt="">
    </div>
  </div>

</section>



<section id="numeros-sobre-valores">
  <div class="content-numeros-home-valores">
    <div class="numeros-home-1">
      <div class="div-separadora"></div>
    </div>
    <div class="numeros-home-2">
      <div class="numeros-home-col-1">
        <p class="trabalhe">Missão</p>
      </div>
      <div class="numeros-sobre-col-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus, urna in pharetra euismod, felis ligula lobortis neque, sed aliquet lectus diam pulvinar tellus. In tempus efficitur ultricies. Suspendisse pulvinar ex justo, mollis imperdiet eros aliquam eu. Praesent pulvinar dui orci. Etiam consectetur volutpat pellentesque.</p>
      </div>
    </div>
 
  </div>

</section>

<section id="numeros-sobre-valores">
  <div class="content-numeros-home-valores">
    <div class="numeros-home-1">
      <div class="div-separadora"></div>
    </div>
    <div class="numeros-home-2">
      <div class="numeros-home-col-1">
        <p class="trabalhe">Visão</p>
      </div>
      <div class="numeros-sobre-col-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus, urna in pharetra euismod, felis ligula lobortis neque, sed aliquet lectus diam pulvinar tellus. In tempus efficitur ultricies. Suspendisse pulvinar ex justo, mollis imperdiet eros aliquam eu. Praesent pulvinar dui orci. Etiam consectetur volutpat pellentesque.</p>
      </div>
    </div>
 
  </div>

</section>

<section id="numeros-sobre-valores">
  <div class="content-numeros-home-valores">
    <div class="numeros-home-1">
      <div class="div-separadora"></div>
    </div>
    <div class="numeros-home-2">
      <div class="numeros-home-col-1">
        <p class="trabalhe">Valores</p>
      </div>
      <div class="numeros-sobre-col-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus, urna in pharetra euismod, felis ligula lobortis neque, sed aliquet lectus diam pulvinar tellus. In tempus efficitur ultricies. Suspendisse pulvinar ex justo, mollis imperdiet eros aliquam eu. Praesent pulvinar dui orci. Etiam consectetur volutpat pellentesque.</p>
      </div>
    </div>
 
  </div>

</section>


<%- include('partials/footer') %> 