<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Sistema de Gerenciamento de Vagas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header class="navbar">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <img src="/img/logo.png" class="img-logo">
      </div>
  
      <!-- Links do menu -->
      <nav class="nav-links">
        <ul>
          <li><a href="/empresa/dashboard">Dashboard</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
  
      <!-- Botão sandwich para mobile -->
      <button class="menu-toggle" id="menu-toggle">
        &#9776; <!-- Ícone de menu (sandwich) -->
      </button>
    </div>
  </header>
  