<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Sistema de Gerenciamento de Vagas</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <style>
    @media (min-width: 901px) {
      .links-menu a {
        width: unset;
      }
      .links-menu {
        width: 707px;
        justify-content: space-around;
        padding: 0px 10px;
      }
    }

  </style>
</head>
<body>
<header class="navbar">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <a href="/"><img src="/img/logo-oficial.png" class="img-logo"></a>
      </div>
  
      <!-- Links do menu -->
      <nav class="nav-links">
        <div class="itens-menu">
          <div class="logo-desk">
            <a href="/"><img src="/img/logo-oficial.png" class="img-logo"></a>
          </div>
          <div class="links-menu">
            <a href="/empresa/dashboard">Início</a>
            <a href="/empresa/vagas">Minhas Vagas</a>
            <a href="empresa/todos-candidatos">Base de Currículos</a>
          </div>
          <div class="botoes-menu">
            <a href="/auth/logout" class="area-empresa-menu">Logout</a>
          </div>
        </div>
          
        
      </nav>
  
      <!-- Botão sandwich para mobile -->
      <button class="menu-toggle" id="menu-toggle">
        &#9776; <!-- Ícone de menu (sandwich) -->
      </button>
    </div>
  </header>
  